*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: inherit;
}

*{
    font-family: cursive;
    box-sizing: padding-box;
}
  
html {
    font-size: 62.5%;
}
  
body {
    font-family: "Product Sans", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #171516;
    background-color: whitesmoke;
}

.grid {
  display: grid;
  column-gap: 1.65rem;
  row-gap: 9.6rem;
  margin: 0 2.4rem 0 2.4rem
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .grid--center-v {
    align-items: center;
  }
  
  .heading-primary,
  .heading-secondary,
  .heading-tertiary {
    font-weight: 500;
    color: #FD9735;
    letter-spacing: -0.5px;
  }
  
  .heading-primary {
    font-size: 3.6rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }
  
  .heading-secondary {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }
  
  .heading-tertiary {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }
  
  .subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #C7C5B8;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
  }
  
  .btn:link,
  .btn:visited {
    display: inline-block;
  
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
  
    transition: all 0.3s;
  }
  
  .btn--outline:link,
  .btn--outline:visited {
    background-color: #eba43a;
    color: #171516;
  }
  
  .btn--outline:hover,
  .btn--outline:active {
    background-color: #f0b866;
  
    box-shadow: inset 0 0 0 3px #fff;
  }
  
  .link:link,
  .link:visited {
    display: inline-block;
    color: #2d4e72;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
  }
  
  .link:hover,
  .link:active {
    color: #38618F;
    border-bottom: 1px solid transparent;
  }
  
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  .list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  
  .list-icon {
    width: 3rem;
    height: 3rem;
    color: #2d4e72;
  }
  
  /* HELPER/SETTINGS CLASSES */
  .margin-right-sm {
      margin-right: 1.6rem !important;
  }
    
  .margin-right-md {
      margin-bottom: 4.8rem !important;
  }
    
  .center-text {
      text-align: center;
  }
    
  strong {
      font-weight: 500;
  }
/****************************/
/* HEADER */
/****************************/
.header-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #171516;
    transition: color
  }
  
  
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    background: #e99a24;
    /* background-color: #; */
      height: 9.6rem;
      padding: 0 4.8rem;
  }
  
  .header-name {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .header-name:hover,
  .header-name:active {
    color: #ffe083;
  }
  
  .logo {
      height: 9.2rem;
      width: 9.6rem;
      border: 1px solid #ffe083;
      border-radius: 50px;
      margin-right: 2.4rem; 
  }

  /****************************/
  /* NAVIGATION */
  /****************************/
  .main-nav{
color: #ffe083;
  }

  .main-nav-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2.4rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
      display: inline-block;
      text-decoration: none;
      color: #171516;
      font-weight: 500;
      font-size: 1.8rem;
      transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
      color: #ffe083;
  }
  /****************************/
  /* ABOUT US SECTION (INDEX.HTML) */
  /****************************/
  
  .section-main {
      background-color: #2b3c1a;
      padding: 4.8rem 0 9.6rem 0;
  }

  .about-us {
    height: 75rem;
    max-width: 135rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 9.6rem;
    text-align: center;
    /* align-items: center; */
    background-image: url(images/voedselbank001.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

    .about-us-text-box {
       padding: 9.6rem;

    }

  .short-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    color: black;
}

/****************************/
/* INDEX.PHP (FORM site) */
/****************************/

.section-login {
    background-color: #2b3c1a;
    padding: 4.8rem 0 9.6rem 0;
    display: flex;
    justify-content: center;
}

.login-form {
    width: 950px;
    border: 3px solid #ffe083;
    padding: 20px;
    background: #e99a24;
    border-radius: 20px;
    justify-content: center;
    margin-top: 20px;
}

.heading-secondary-form {
    text-align: center;
    margin-bottom: 40px;
}

.body-form {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

input[type=text], [type=password]{
    display: block;
    border: 3px solid #ffe083;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #ffe38f;
    font-size: 18px;
    padding: 10px;
}

.checkbox-form {
    margin-left: -7rem;
}

.button-form {
    float: left;
    background: #405031;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 10px;
    border: none;

}

.button-form:hover{

    background-color: #6b775f;
    transition: all 0.3s;

}

.form-container {
    padding: 16px;
}

span.forgot-psw {
    float: right;
    padding-top: 16px;
    
}

.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 
 }
  /****************************/
/* FOOTER */
/****************************/
footer {
    background-color: #e99a24;
    padding: 50px;
    /*font-size: 80%;*/
  }
  
  .footer-nav {
    list-style: none;
    float: left;
  }
  
  .voedselbank-info{
    list-style: none;
    float: right;
  }
  
  .footer-nav li,
  .voedselbank-info li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-nav li:last-child,
  .voedselbank-info li:last-child {
    margin-right: 0;
  }
  
  .footer-nav li a:link,
  .footer-nav li a:visited,
  .voedselbank-info li a:link,
  .voedselbank-info li a:visited {
    text-decoration: none;
    border: 0;
    color: #171516;
    transition: color 0.2s;
  }
  
  .footer-nav li a:hover,
  .footer-nav li a:active,
  .voedselbank-info li a:hover,
  .voedselbank-info li a:active {
    color: #ffe083;
  }
  
  .voedselbank-info li a:link,
  .voedselbank-info li a:visited {
    font-size: 160%;
  }
  
  footer p {
    color: #171516;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
  }
  
  footer p:hover,
  footer p:active {
    color: #ffe083;
  }
  
  
  