*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: inherit;
}

*{
    box-sizing: padding-box;
}
  
html {
    font-size: 62.5%;
}
  
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
    font-weight: 400;
    color: whitesmoke;
    background-color: #2b3c1a;
}

.grid {
  display: grid;
  column-gap: 1.65rem;
  row-gap: 9.6rem;
  margin: 0 2.4rem 0 2.4rem
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .grid--center-v {
    align-items: center;
  }
  
  .heading-primary,
  .heading-secondary,
  .heading-tertiary {
    font-weight: 500;
    color: #FD9735;
    letter-spacing: -0.5px;
  }
  
  .heading-primary {
    font-size: 3.6rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }
  
  .heading-secondary {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }
  
  .heading-tertiary {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }
  
  .subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #C7C5B8;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
  }
  
  .btn:link,
  .btn:visited {
    display: inline-block;
  
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
  
    transition: all 0.3s;
  }
  
  .btn--outline:link,
  .btn--outline:visited {
    background-color: #eba43a;
    color: #464196;
  }
  
  .btn--outline:hover,
  .btn--outline:active {
    background-color: #f0b866;
    color: #ffe083;
    transform: scale(1.1);
  
    box-shadow: inset 0 0 0 3px #fff;
  }
  
  .link:link,
  .link:visited {
    display: inline-block;
    color: #2d4e72;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
  }
  
  .link:hover,
  .link:active {
    color: #38618F;
    border-bottom: 1px solid transparent;
  }
  
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  .list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  
  .list-icon {
    width: 3rem;
    height: 3rem;
    color: #2d4e72;
  }
  
  /* HELPER/SETTINGS CLASSES */
  .margin-right-sm {
      margin-right: 1.6rem !important;
  }
    
  .margin-right-md {
      margin-bottom: 4.8rem !important;
  }
    
  .center-text {
      text-align: center;
  }
    
  strong {
      font-weight: 500;
  }

  /****************************/
  /* ABOUT US SECTION (INDEX.HTML) */
  /****************************/
  
  .section-main {
      background-color: #2b3c1a;
      padding: 4.8rem 0 9.6rem 0;
  }

  .about-us {
    height: 75rem;
    max-width: 135rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 9.6rem;
    text-align: center;
    /* align-items: center; */
    background-image: url(../../images/voedselbank001.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

    .about-us-text-box {
       padding: 9.6rem;

    }

  .short-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    color: black;
}

/****************************/
/* INDEX.PHP (FORM site) */
/****************************/

.section-login {
    background-color: #5eaa5f;
    padding: 4.8rem 0 9.6rem 0;
    display: flex;
    justify-content: center;
}

.login-form {
    width: 950px;
    border: 3px solid #ffe083;
    padding: 20px;
    background: #e99a24;
    border-radius: 20px;
    justify-content: center;
    margin-top: 20px;
}

.heading-secondary-form {
    text-align: center;
    margin-bottom: 40px;
    color:#464196
}

.body-form {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/*input[type=text], [type=password]{*/
/*    display: block;*/
/*    border: 3px solid #ffe083;*/
/*    width: 95%;*/
/*    padding: 10px;*/
/*    margin: 10px auto;*/
/*    border-radius: 5px;*/
/*}*/

label {
    color: #ffe38f;
    font-size: 18px;
    padding: 10px;
}

.checkbox-form {
    margin-left: -7rem;
}

.button-form {
    /* float: left; */
    background: #464196;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 10px;
    border: none;

}

.button-form:hover{

    background-color: #9d6ab9;
    transform: scale(1.1);
    transition: all 0.3s;

}

.form-container {
    padding: 16px;
}

span.forgot-psw {
    float: right;
    padding-top: 16px;
    
}

.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 
 }

/****************************/
/* MAGAZIJN.HTML (voorraad site) */
/****************************/

.inventory {
  margin-left: 27px;
}

.section-magazijn {
  background-color: #405031;
  padding: 4.8rem 0 9.6rem 0;
  color: #171516;

}

.container-list {
  margin-left: 20px;
  display: inline-block;
  border: 3px solid #ffe083;
  padding: 2.5rem 4rem 2.5rem 4rem;
  
}

.categorie-container {
  gap: 20px;
  padding: 0 27px;
}

.categorie-list {
  padding: 0;
  margin: 0;
}

.categorie-list b {
  display: block;
  margin-bottom: 10px;
}

.bulleted-list {
  margin-left: 20px;
  position: relative;
}

.bulleted-list::before{
  position: absolute;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px; 
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#addProductButton {
  margin-bottom: 20px;
  margin-left: 28px;
}

.sort {
  margin-bottom: 10px;
}

.category-box {
  border: 2px solid #F0e68c;
  padding: 20px;
  margin: 20px 0;
}

.sort-dropdown {
  margin-bottom: 10px;
}


  
  